.main {
  position: relative;
  padding: 30px 80px;
  height: 100%;
  background-color: #25282b;
  background-image: url(../../public/bg-login-opacity.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  overflow: auto;

  .title {
    font-size: 56px;
  }

  .stepLogo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: 46px;
    background: url(../../public/logo-dark.svg) no-repeat;
    background-size: 100% 100%;
    z-index: 999;
  }

  .container {
    display: flex;
  }

  .stepContainer {
    width: fit-content;
    min-width: 380px;
    height: 100%;
    min-height: 320px;
    margin-top: 12px;
  }

  .stepFlex {
    margin: auto;
    flex: 1;

    .stepAction {
      display: flex;
      flex-direction: column;
      justify-content: center;

      .stepActionTitle {
        color: #fff;
        font-size: 40px;
        margin-bottom: 8px;
      }

      .stepActionContent {
        margin-bottom: 8px;
        font-size: 20px;

        .imgBox {
          width: 100%;
          text-align: center;
          margin-bottom: 12px;
        }

        img {
          border-radius: 12px;
        }
      }
    }
  }
}
