.container {
  display: flex;
  flex-direction: row;
}

.navigationBarContainer {
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-width: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: center;
  margin-left: 0.4rem;
  margin-top: 2rem;
}

.logo {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.8rem;
}

.menuIcon {
  width: 1.6rem;
  height: 1.6rem;
}

.avatar {
  width: 2.6rem !important;
  height: 2.6rem !important;
  margin-right: 0.6rem;
  background: var(--button-color) !important;
}

.menu {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 14rem;
}

.expandMenu {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  width: 14rem;
  float: right;
}

.menuText {
  font-family: 'mabry-bold' !important;
}

.profileMenu {
  background-image: url(../../../public/images/menu/cyan-blur.png), url(../../../public/images/menu/red-blur.png);
  background-color: rgba(255, 255, 255, 0.9);
  background-repeat: no-repeat, no-repeat;
  padding: 0.2rem;
  background-size: 50%, 50%;
  box-shadow: rgba(145, 158, 171, 0.24) 0px 0px 2px 0px, rgba(145, 158, 171, 0.24) -20px 20px 40px -4px;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px;
  background-position: right top, left bottom;
  border-radius: 10px;
  overflow: inherit;
}

.menuItemIcon {
  color: var(--button-color);
}
