.userIcon {
  width: 1.6rem;
  height: 1.6rem;
}

.profileContainer {
  margin-bottom: 2rem;
  padding: 2rem;
}

.textField {
  width: 22rem;
  max-width: 28rem;
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
}

.avatarContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.avatarContent {
  width: 5rem !important;
  height: 5rem !important;
  background-color: var(--button-color) !important;
}

.informationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.informationContainer {
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.informationContent {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.editIcon {
  color: var(--palette-text-disabled);
}

.informationLable {
  width: 30%;
  display: flex;
  align-items: center;
}

.informationLableText {
  margin-left: 1rem !important;
  color: var(--palette-detail-lable-color);
  font-family: 'mabry-bold' !important;
}
