.userIcon {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--palette-detail-lable-color);
}

.profileContainer {
  margin-bottom: 2rem;
  position: relative;
  height: 15rem;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  border-radius: 16px;
  z-index: 0;
}

.profileImage {
  background-image: linear-gradient(to top, #141a21 25%, rgba(0 63 80 / 0.88)),
    url(../../assets/images/profile/cover.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
}

.profileContent {
  left: 24px;
  bottom: 24px;
  z-index: 10;
  position: absolute;
  display: inline-flex;
}

.tabs {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 9;
  background-color: var(--palette-profile-background-paper);
  display: flex;
  justify-content: flex-end;
}

.textField {
  width: 24rem;
  max-width: 28rem;
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
}

.avatarContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.avatarContent {
  width: 7rem !important;
  height: 7rem !important;
  background: var(--palette-secondary-dark) !important;
}

.informationHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
}

.informationContainer {
  flex-wrap: wrap;
  padding: 1rem 2rem;
}

.informationContent {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.informationLable {
  width: 30%;
  display: flex;
  align-items: center;
}

.informationLableText {
  margin-left: 1rem !important;
  color: var(--palette-detail-lable-color);
  font-family: 'mabry-bold' !important;
}

.textFieldIcon {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.4rem;
  color: var(--palette-grey-tab);
}

.editIcon {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.4rem;
  color: var(--palette-scopes-icon-color);
}

.passwordWrapper {
  padding: 2rem;
}

.passwordTextField {
  width: 50rem;
  max-width: 28rem;
  margin-top: 0.8rem !important;
  margin-bottom: 0.8rem !important;
}

.tabIcon {
  width: 1.5rem;
  height: 1.5rem;
}

.profileForm {
  display: flex;
  flex-direction: column;
}
