.changeRoleContainer {
  display: flex;
  flex-direction: column;
}

.roleIcon {
  width: 7rem;
  height: 7rem;
}

.roleButtonContainer {
  display: flex !important;
  justify-content: space-evenly !important;
  padding-bottom: 1.6rem !important;
}

.detailWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 1rem;
}

.detailContentWrap {
  margin-bottom: 0.4rem;
  margin-top: 0.4rem;
}

.emailContent {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailContentLabelContainer {
  display: flex;
  align-items: center;
  width: 45%;
}

.detailIcon {
  width: 1.4rem;
  height: 1.4rem;
  color: var(--palette--table-title-text-color);
}

.menuItemIcon {
  color: var(--palette--button-color);
  width: 2rem;
}

.menuText {
  font-family: 'mabry-bold' !important;
}

.menu {
  background-image: url(../../assets/images/menu/cyan-blur.png), url(../../assets/images/menu/red-blur.png);
  background-color: var(--palette-background-menu);
  background-repeat: no-repeat, no-repeat;
  padding: 0.2rem;
  background-size: 50%, 50%;
  box-shadow: var(--custom-shadows-dropdown);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: 0px;
  background-position: right top, left bottom;
  border-radius: var(--menu-border-radius);
  overflow: inherit;
}

.detailTitle {
  padding-left: 0.8rem;
  color: var(--palette--table-title-text-color);
}

.detailContent {
  font-family: 'mabry-bold' !important;
}

.tableHeader {
  color: var(--palette--table-title-text-color);
  font-family: 'mabry-bold' !important;
}

.tableRow {
  border-bottom: dashed var(--palette--palette-divider);
}

.tableRow:last-child {
  border-bottom: none;
}

.tableHeaderText {
  border-color: var(--palette--palette-divider) !important;
}

.searchWrapper {
  display: flex;
  margin-bottom: 2rem;
}

.roleContainer {
  display: flex;
  align-items: center;
}

.editRoleHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem;
}

.editRoleHeaderIcon {
  width: 2rem;
  height: 2rem;
  color: var(--palette--button-color);
}

.roleEdit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6rem;
  background-color: var(--palette-background-paper);
  box-shadow: var(--palette--card-box-shadow);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 0.8rem;
  border: solid;
  color: var(--palette-color);
  overflow: hidden;
  border-width: 1px;
}

.roleEdit:nth-last-child(2n) {
  margin-bottom: 1rem;
}

.roleIcon {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--palette-secondary-dark);
}

.roleText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--palette--text-palette-text-secondary);
}
