.main {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
}
.box {
  height: 6rem;
  background: linear-gradient(to right, #86efac, #f0fdf5);
  margin-left: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  border-radius: 1rem;
}
.title {
  margin-left: 2rem;
 
}
.content {
  font-size: 1.1rem;
  text-align: center;
}
.tottom {
  margin: 1rem;
  height: 9rem;
  display: flex;
  flex-direction: column;
  background-color: #e0e2e5;
  border-radius: 1rem;
}
