.container {
  padding: 1rem 2rem;
}

.headerContainer {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.headerContent {
  width: 30%;
  display: flex;
  align-items: center;
}

.headerTitle {
  margin-left: 1rem !important;
  color: var(--palette-detail-lable-color);
  font-family: 'mabry-bold' !important;
}

.headerIcon {
  width: 1.4rem;
  height: 1.4rem;
}

.hostname {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clusterID {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border-radius: 0.3rem;
  min-width: 1.6rem;
  padding: 0.2rem 0.4rem;
}
