.container {
  width: 70%;
}

.header {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.informationTitle {
  display: flex;
  align-items: center;
}

.defaultContainer {
  display: flex;
  align-items: center;
}

.scopesTitle {
  display: flex;
  align-items: center;
}

.scopesContainer {
  display: flex;
  flex-direction: column !important;
}

.configTitle {
  display: flex;
  align-items: center;
}

.configContainer {
  display: flex;
  flex-wrap: wrap;
}

.textField {
  width: 18rem;
  max-width: 25rem;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  margin-right: 1rem !important;
}

.idcInput {
  width: 37rem;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.cidrsInput {
  width: 37rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.descriptionIcon {
  width: 0.8rem !important ;
  height: 0.8rem !important;
  color: var(--palette-grey-300Channel);
}

.descriptionIcon:hover {
  color: var(--description-color);
}

.informationIcon {
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 1rem;
}
