.clusterTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clusterIconContainer {
  display: flex;
  position: relative;
}

.clusterSmallCircleIcon {
  width: 0.4rem;
  height: 0.4rem;
  color: var(--palette-grey-400Channel);
}

.button {
  background-color: var(--palette-button-color);
  border-radius: 0;
}

.clusterBigCircleIcon {
  width: 1.8rem;
  height: 1.8rem;
  color: var(--palette-grey-400Channel);
}

.clusterIcon {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  left: 0.55rem;
  top: 0.1rem;
  color: var(--palette-grey-200Channel);
}

.clusterHeaderContainer {
  display: grid;
  gap: calc(1.5rem);
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1.5rem;
}

.clusterContainer {
  padding: 1rem;
}

.clusterIconTitle {
  margin-left: 0.7rem !important;
  font-family: 'mabry-bold' !important;
}

.seedPseerIconTitle {
  margin-left: 0.7rem !important;
  font-family: 'mabry-bold' !important;
}

.clusterContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 0.8rem;
  margin-left: 0.6rem;
}

.clusterBottomContainer {
  display: flex;
  align-items: center;
  padding-top: 0.4rem;
  margin-left: -0.2rem;
}

.clusterBottomIcon {
  width: 1.1rem;
  height: 1.1rem;
  color: var(--palette-description-color);
}

.statistics {
  color: var(--palette-description-color);
}

.clusterBottomContentContainer {
  display: flex;
  align-items: center;
}

.clusterBottomContent {
  padding-left: 0.7rem;
  font-family: 'mabry-bold' !important;
}

.clusterBottomContentMsg {
  padding-left: 0.4rem;
  color: var(--palette-table-title-text-color);
}

.searchContainer {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 0.2rem 0.4rem;
  width: 23rem;
}

.searchIconContainer {
  width: 2.2rem;
  height: 2.2rem;
  padding-left: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nameText {
  font-family: 'mabry-bold' !important;
  padding-bottom: 0.5rem;
}

.idText {
  color: var(--palette-table-title-text-color);
  padding-left: 0.6rem;
}

.idIcon {
  width: 1.4rem;
  height: 1.4rem;
}

.descriptionText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.creatTimeContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.arrowCircleRightIcon {
  width: 1.9rem;
  height: 1.9rem;
  color: var(--palette-button-color);
}

.buttonContent {
  padding: 0;
}

.cardCantainer {
  gap: calc(1.5rem);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.loadingCard {
  width: 33.33%;
}

.divider {
  border-style: dashed !important;
  border-color: rgba(145 158 171 / 0.2);
  border-width: 0px 0px thin;
  margin: 1rem 0 !important;
}

.clusterNameWrapper {
  padding: 1.2rem 1.2rem 0 1.2rem;
}

.clusterDefaultWrapper {
  padding: 0 1.2rem 1.2rem 1.2rem;
}

.card {
  overflow: hidden;
}

.card:hover {
  background-color: var(--palette-card-hover-background-color);
}

@media screen and (max-width: 2560px) {
  .cardCantainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 2048px) {
  .cardCantainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1920px) {
  .cardCantainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1600px) {
  .cardCantainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1440px) {
  .cardCantainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.noClusterContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noClusterIcon {
  width: 10rem;
  padding-bottom: 1rem;
}

.searchIcon {
  margin: 0.4rem;
}

.noData {
  width: 100%;
  height: 18rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(var(--palette-no-data-color) / 0.04) !important;
  border: dashed 1px rgba(var(--palette-no-data-color) / 0.08);
}

.nodataIcon {
  max-width: 10rem;
  height: 10rem;
}

.nodataText {
  color: var(--palette-text-disabled);
  font-family: 'mabry-bold';
}
