.container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  padding: 1.5rem;
  width: 100%;
}

.updateClusterIcon {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.4rem;
}

.deleteClusterIcon {
  width: 6rem;
  height: 6rem;
}

.informationWrapper {
  display: flex;
  align-items: center;
  width: 33.33%;
  padding: 1rem;
}

.className {
  padding-bottom: 0.5rem;
  font-family: 'thai-semi-bold' !important;
}

.informationWrapper:nth-child(5) {
  display: flex;
  align-items: center;
  width: 66.66%;
  padding: 1rem;
}

.informationLable {
  color: #80828b;
  /* font-family: 'thai-semi-bold' !important; */
  margin-right: 0.3rem !important;
}

.informationIcon {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

.informationTitel {
  display: flex;
  align-items: center;
  width: 80%;
}

.informationDescriptionTitel {
  display: flex;
  align-items: center;
  width: 40% !important;
}

.divider {
  margin: 1.5rem 0px;
  flex-shrink: 0;
  border-width: 0px 0px thin;
  border-color: var(--palette-divider);
  border-style: dashed;
}

.clusterContainer {
  display: flex;
  justify-content: space-between;
  /* padding: 1.2rem 0; */
  flex-wrap: wrap;

  /* background-color: #f7f7f8 !important; */
}

.clusterWrap {
  display: flex;
  /* align-items: center; */
  width: 25%;
  flex-direction: column;
  padding: 0.5rem 0;
}

.clusterTitle {
  display: flex;
  align-items: center;
  padding-bottom: 0.4rem;
}

.clusterContent {
  font-family: 'thai-semi-bold' !important;
}

.schedulerClusterID {
  display: flex;
  align-items: center;
}

.descriptionIcon {
  width: 0.9rem !important ;
  height: 0.9rem !important;
}

.descriptionIcon:hover {
  color: var(--description-color);
}

.scopesContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.scopesCard {
  width: 50%;
}

.scopesCard:nth-child(2n + 1) {
  padding-right: 1.2rem;
}

.scopesCard:nth-child(1) {
  padding-bottom: 1.2rem;
}

.scopesCard:nth-child(2) {
  padding-bottom: 1.2rem;
}

.configLable {
  color: var(--table-title-text-color);
  margin-right: 0.2rem !important;
}

.scopesLable {
  color: var(--table-title-text-color);
  font-family: 'thai-semi-bold' !important;
  margin-right: 0.2rem !important;
}

.scopesTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  height: 2rem;
}

.scopesContentContainer {
  display: flex;
  flex-wrap: wrap;
}

.locationContainer {
  padding: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scopesIcon {
  width: 1.2rem;
  height: 1.2rem;
}

.scopesIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--menu-background-color);
  border-radius: 12%;
  width: 1.8rem;
  height: 1.8rem;
}

.locationTitle {
  display: flex;
  align-items: center;
}

.locationTextContainer {
  display: flex;
  align-items: flex-end;
}

.locationContent {
  width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cidrsContainer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 8rem;
  /* background-color: #f4f6f8 !important; */
}

.cidrsTitleWrapper {
  padding-bottom: 1rem;
}

.cidrsTitle {
  display: flex;
  align-items: center;
}

.cidrsTags {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

@media only screen and (min-width: 2049px) and (max-width: 2560px) {
  .cidrsContent:nth-child(3) {
    display: flex !important;
  }

  .cidrsContent:nth-child(4) {
    display: flex !important;
  }

  .cidrsContent {
    width: 8rem !important;
  }
}

@media only screen and (max-width: 1920px) {
  .cidrsContent:nth-child(3) {
    display: flex !important;
  }

  .cidrsContent:nth-child(4) {
    display: none !important;
  }

  .cidrsContent {
    width: 7rem !important;
  }
}

@media only screen and (max-width: 1600px) {
  .cidrsContent:nth-child(3) {
    display: none !important;
  }

  .cidrsContent:nth-child(4) {
    display: none !important;
  }
}

@media only screen and (max-width: 1440px) {
  .cidrsContent:nth-child(3) {
    display: none !important;
  }

  .cidrsContent:nth-child(4) {
    display: none !important;
  }
}

.cidrWrapper {
  display: flex;
  width: 80%;
}

.cidrsContent {
  background-color: #f7f7f8 !important;
  width: 6rem;
  height: 1.6rem;
  margin-right: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.4rem;
  padding: 0.5rem;
}

.cidrsText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #637381;
  /* font-family: 'thai-semi-bold' !important; */
}

.configRightContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.configContainer {
  /* display: flex; */
}

.scopesWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.configTitle {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.configListContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 0.9rem 0.9rem 0.9rem;
}

.configContent {
  width: 25%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.configContent:last-child {
  width: 30%;
}

.configContentTitle {
  /* width: 85%; */
  display: flex;
  align-items: center;
  padding-bottom: 0.4rem;
}

.configText {
  width: 15%;
  font-family: 'thai-semi-bold' !important;
}

.idcDialogContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cidrsDialogContent {
  width: 45%;
  background-color: #f7f7f8 !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.4rem 0.8rem;
  margin-bottom: 0.8rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.cidrsDialogContainer {
  display: flex;
  flex-wrap: wrap;
}

.idcDialogContent {
  width: 45%;
  background-color: #f7f7f8 !important;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0.4rem 0.8rem;
  margin-bottom: 0.8rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.cidrsIcon {
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.3rem;
}
