.container {
  width: 60%;
}

.informationTitle {
  display: flex;
  align-items: center;
}

.defaultContainer {
  display: flex;
  align-items: center;
}

.scopesTitle {
  display: flex;
  align-items: center;
}

.scopesContainer {
  display: flex;
  flex-direction: column !important;
}

.configTitle {
  display: flex;
  align-items: center;
}

.configContainer {
  display: flex;
  flex-wrap: wrap;
}

.footerButton {
  margin-top: 2rem;
}

.textField {
  width: 18rem;
  max-width: 25rem;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  margin-right: 1rem !important;
}

.cidrsInput {
  width: 37rem;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.descriptionIcon {
  width: 0.8rem !important ;
  height: 0.8rem !important;
}

.descriptionIcon:hover {
  color: var(--description-color);
}
