@font-face {
  font-family: 'MabryPro-Light';
  src: url('../public/fonts/MabryPro-Light.ttf') format('woff');
}
@font-face {
  font-family: 'MabryPro-Bold';
  src: url('../public/fonts/MabryPro-Bold.ttf') format('woff');
}
.main {
  height: calc(100vh - 64px);
}

.link {
  color: #292524;
  text-decoration: none;
}

.page {
  background-size: cover;
  background-position: center;
}
.selected {
  background-color: aqua;
  color: #1e87f0;
}
.logo {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
