.container {
  padding: 1rem 2rem;
}

.headerContainer {
  padding: 1rem 0;
  display: flex;
  align-items: center;
}

.headerContent {
  width: 30%;
  display: flex;
  align-items: center;
}

.headerTitle {
  margin-left: 1rem !important;
  color: var(--palette-detail-lable-color);
  font-family: 'mabry-bold' !important;
}

.headerText {
  font-family: 'mabry-bold' !important;
}

.clusterIDContent {
  display: flex;
  align-items: center;
  margin-bottom: 0.6rem;
}

.clusterIDTitle {
  margin-left: 0.6rem !important;
  color: var(--table-title-text-color);
}

.schedulerContainer {
  padding: 1rem;
  margin-top: 2rem;
}

.schedulerContent {
  padding: 1rem;
  display: flex;
  align-items: center;
}

.headerIcon {
  width: 1.4rem;
  height: 1.4rem;
}

.hostname {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'mabry-bold' !important;
}

.text {
  color: var(--table-title-text-color);
  width: 30%;
}
