.main {
  position: relative;
  display: flex;
  height: 100%;
  background-color: #25282b;
  background-image: url(../public/bg-login-opacity.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #ffffff;

  .logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: 46px;
    background: url(../public/logo-dark.svg) no-repeat;
    background-size: 100% 100%;
    // margin: 0 auto 16px auto;
    // margin-bottom: 16px;
    // margin-left: -8px;
    z-index: 999;
  }

  label {
    color: #ffffff;
  }

  .animation-canvas {
    position: absolute;
    border: 10px solid #2e3135;
    // border-top: 10px solid #2E3135;
    transform-origin: center;
    transform: translateX(-50%) matrix(0.866025, -0.5, 0.866025, 0.5, 0, 0);
    // transform: translateX(-50%);
    left: 50%;
    // bottom: -50%;
    top: -360px;
  }

  // .left {
  //   flex: 0 0 60%;
  //   background: #25282B;
  //   // background: url(../public/bg-login.png);
  //   background-size: 100% 100%;
  //   background-repeat: no-repeat;
  // }

  .right {
    flex: 1;
    padding: 16px;
    position: relative;
    .header {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      .title {
        display: flex;
        align-items: center;
        position: relative;
        // &::before {
        //   content: '';
        //   position: absolute;
        //   top: 8px;
        //   left: 80px;
        //   height: 8px;
        //   width: 1px;
        //   margin: 0 8px;
        //   background: #848484;
        // }
      }
      .i18n {
        color: #848484;
        cursor: not-allowed;
      }
    }
    .content {
      position: absolute;
      top: calc(50% - 24px);
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      .logo {
        width: 150px;
        height: 46px;
        background: url(../public/logo-dark.svg) no-repeat;
        background-size: 100% 100%;
        // margin: 0 auto 16px auto;
        margin-bottom: 16px;
        margin-left: -8px;
      }
      .welcome {
        font-size: 24px;
        margin-bottom: 32px;
        // color: #1a1a1a;
      }
      .check {
        color: #ffffff;
        margin-bottom: 16px;
      }
    }
  }
}

.loadingContainer {
  width: 100%;
  height: 100%;
}

.newBtn {
  padding: 0;
  height: auto;
}
