.main {
  display: flex;
  height: 100%;
  .left {
    flex: 0 0 60%;
    background: url(../public/bg-login.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .right {
    flex: 1;
    padding: 16px;
    position: relative;
    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      .title {
        display: flex;
        align-items: center;
        position: relative;
        &::before {
          content: '';
          position: absolute;
          top: 8px;
          left: 80px;
          height: 8px;
          width: 1px;
          margin: 0 8px;
          background: #848484;
        }
      }
      .logo {
        width: 80px;
        height: 24px;
        background: url(../public/logo-dark.png) 100% 100% no-repeat;
        margin-right: 17px;
      }
      .i18n {
        color: #848484;
      }
    }
    .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 300px;
      background: url('../public/temp.png') 100% 100% no-repeat;
    }
  }
}
