.changeRoleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    .roleIcon {
        width: 7rem;
        height: 7rem;
    }
}

.roleButtonContainer {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1.6rem;
}

.detailContainer {
    .detailTitle {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .detailContentWrap {
        margin-bottom: 0.4rem;
        margin-top: 0.4rem;

        .EmailContent {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .detailContentLabelContainer {
        display: flex;
        align-items: center;
        width: 50%;

        .detailIcon {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}