.updateClusterIcon {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.4rem;
}

.deleteClusterIcon {
    width: 6rem;
    height: 6rem;
}

.clusterIPIcon {
    width: 1.4rem;
    height: 1.4rem;
    margin-right: 0.4rem;
}