.splitlinebox {
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.splitlinetext {
  margin: 0 15px;
  vertical-align: middle;
}
.leftsplitline{
  display: inline-block;
  width: 150px;
  border: 1px solid rgb(123, 123, 123);
}
.rightsplitline{
  display: inline-block;
  width: 150px;
  border: 1px solid rgb(123, 123, 123);
}
.dragonflylogoimage {
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
  margin-top: 10px;
}
