.header {
  display: inline-flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.tokenIcon {
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 1rem;
  color: var(--palette-button-color);
}
