.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.breadcrumbs {
  width: 0.3rem;
  height: 0.3rem;
  background-color: #919eab;
  border-radius: 50%;
  margin: 0 0.4rem;
}

.tokenWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.5rem;
}

.tokenNameWrapper {
  display: flex;
  align-items: center;
  padding-bottom: 0.4rem;
}

.tokenName {
  color: var(--palette-description-color) !important;
}

.tokenExpires {
  display: flex;
  align-items: center;
}

.noData {
  width: 100%;
  height: 16rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(var(--palette-no-data-color) / 0.04) !important;
  border: dashed 1px rgba(var(--palette-no-data-color) / 0.08);
}

.nodataIcon {
  max-width: 10rem;
  height: 10rem;
}

.nodataText {
  color: var(--palette-text-disabled);
  font-family: 'mabry-bold';
}

.copyToken {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--palette-grey-background-color) !important;
  margin-bottom: 1rem;
}

.copyIcon {
  width: 1.4rem;
  height: 1.4rem;
}

.deleteIcon {
  width: 6rem;
  height: 6rem;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.deleteDialogTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 1.2rem;
}
