.helpIconWrapper {
  display: flex;
  align-items: center;
}

.helpIcon {
  width: 0.8rem !important ;
  height: 0.8rem !important;
  color: var(--palette-grey-300Channel);
}

.helpIcon:hover {
  color: var(--palette-description-color);
}

.descriptionTextField {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  width: 36rem;
}

.textField {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
  width: 18rem;
}

.expiration {
  margin: 1rem 0 !important;
}

.scopesWrapper {
  display: flex;
  flex-direction: column !important;
  margin-top: 0.8rem;
}

.scopesCheckboxWrapper {
  display: flex;
  align-items: center;
}

.scopesCheckbox {
  width: 12%;
}

.scopesCheckboxDescription {
  color: var(--palette-text-palette-text-secondary);
}
