.icon {
  width: 1.2rem;
  height: 1.2rem;
}

.darkModeIcon {
  width: 1.2rem;
  height: 1.2rem;
}

.darkModeWrapper {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: var(--palette-grey-600Channel) !important;
  border-radius: 1.2rem !important;
  width: 100%;
}

.shrinkDarkModeWrapper {
  display: inline-flex;
  flex-wrap: wrap;
  background-color: var(--palette-grey-600Channel) !important;
  border-radius: 1.2rem !important;
}
