.userIcon {
  width: 1.6rem;
  height: 1.6rem;
}

.profileContainer {
  margin-bottom: 2rem;
  padding: 2rem;
}

.avatarContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.avatarContent {
  width: 6rem;
  height: 6rem;
  background-color: var(--button-color);
}

.button {
  background-color: var(--button-color);
  border-radius: 0;
}

.button:hover {
  background-color: var(--button-color);
}

.informationHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.informationContainer {
  display: flex;
  flex-wrap: wrap;
}

.informationContent {
  width: 34%;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
