.navigationWrapper {
  padding: 1.2rem;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.headerTitle {
  display: flex;
  align-items: center;
}

.navigationContent {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navigationTitle {
  color: #637381;
  font-family: 'mabry-bold';
}

.navigation {
  top: -3rem;
  width: 160px;
  z-index: -1;
  height: 160px;
  right: -5rem;
  opacity: 0.12;
  border-radius: 24px;
  position: absolute;
  transform: rotate(34deg);
  background: linear-gradient(to right, #22c55e 0%, rgba(34 197 94 / 0) 100%);
}

.navigationIcon {
  width: 2.4rem;
  height: 2.4rem;
  top: 1.4rem;
  right: 1.8rem;
  position: absolute;
}

.dashboard {
  display: flex;
  align-items: stretch;
}

.barContainer {
  width: 67%;
  padding: 1rem;
}

.barTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1.2rem 0.2rem;
}

.doughnutTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
}

.doughnutContainer {
  margin-left: 1.6rem;
  width: 33%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.activeContainer {
  display: flex;
  align-items: flex-end;
  padding: 0 1rem 1rem 1rem;
}

.activeIcon {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.6rem;
}

.activeContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.linearProgress {
  width: 100%;
  color: var(--description-color);
}

.descriptionIcon {
  width: 1rem !important ;
  height: 1rem !important;
  color: rgb(188, 188, 188);
}

.descriptionIcon:hover {
  color: var(--description-color);
}

.exportIcon {
  width: 1.8rem;
  height: 1.8rem;
}

.exportFileICon {
  width: 2.8rem;
  height: 2.8rem;
  margin-bottom: 0.8rem;
  color: var(--palette-color);
}

.divider {
  border-width: 0px 0px thin;
  border-color: var(--palette-divider) !important;
  border-style: dashed !important;
}

.visualizationWrapper {
  width: 100%;
}

.visualizationWrapperCommit {
  width: 100%;
  margin-top: 2rem;
}

.pieWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
}

.refreshIcon {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--button-text-color);
}

.deleteWarning {
  width: 1.4rem;
  height: 1.4rem;
  padding-right: 0.2rem;
}
