.container {
  margin-top: 1.5rem;
}

.taskIcon {
  width: 1.8rem !important;
  height: 1.8rem !important;
  color: var(--palette-button-color);
}

.idContent {
  font-family: 'mabry-bold' !important;
}

.statusContent {
  display: inline-flex;
}

.informationWrapper {
  display: grid;
  gap: calc(2rem);
  grid-template-columns: repeat(2, 1fr);
  padding: 1.5rem;
}

.informationTitle {
  display: inline-flex;
  align-items: flex-start;
  width: 45%;
}

.informationTitleIcon {
  width: 1.2rem !important;
  height: 1.2rem !important;
  color: var(--palette-table-title-text-color);
}

.informationTitleText {
  color: #637381;
  padding-left: 0.5rem;
}

.informationContent {
  font-family: 'mabry-bold' !important;
}

.tableRow {
  border-bottom: dashed var(--palette-palette-divider);
}

.tableHeader {
  border-color: var(--palette-palette-divider) !important;
}

.tableHeaderText {
  color: var(--palette-table-title-text-color);
  font-family: 'mabry-bold' !important;
}

.tableRow:last-child {
  border-bottom: none;
}

.deleteIcon {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.4rem;
}

.deleteWarningIcon {
  width: 1.4rem;
  height: 1.4rem;
  padding-right: 0.2rem;
}
