.titleContainer {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--palette--table-title-color);
}

.listWrapper {
  display: flex;
  align-items: center;
  padding: 0.8rem;
}

.statusContainer {
  display: flex;
  align-items: flex-start;
  width: 60%;
}

.timeContainer {
  width: 30%;
}

.iconButton {
  width: 10%;
  display: flex;
  justify-content: center;
}

.isLoadingWrapper {
  padding: 0.8rem;
  display: flex;
  align-items: center;
}

.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
}

.nodataIcon {
  max-width: 10rem;
  height: 10rem;
}

.nodataText {
  color: var(--palette-text-disabled);
  font-family: 'mabry-bold';
}

.stateIcon {
  width: 1.3rem;
  height: 1.3rem;
}

.pendingIcon {
  width: 1.3rem;
  height: 1.3rem;
  color: #dbab0a;
}

.detailIcon {
  width: 2rem;
  height: 2rem;
  color: var(--palette--button-color);
}
