.informationContainer {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0rem;
}

.informationTitle {
  width: 30%;
  display: flex;
  align-items: center;
}

.informationContent {
  width: 70%;
  word-break: break-all;
  font-family: 'mabry-bold' !important;
}

.URLContent {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: italic;
  /* font-family: 'mabry-bold' !important; */
}

.informationTitleIcon {
  width: 1.4rem !important;
  height: 1.4rem !important;
}

.informationTitleText {
  margin-left: 1rem !important;
  color: #515151;
}

.schedulerContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  margin-top: 2rem;
}

.schedulerContent {
  width: 25%;
  padding: 1rem;
}

.statusIcon {
  margin-right: 0.2rem;
}

.schedulerClustersIDContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #228b22;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  /* margin-right: 1.5rem; */
}

.schedulerClustersIDWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dedede;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
}
