.informationContainer {
  display: flex;
  align-items: center;
  padding: 1rem 0rem;
}

.informationTitle {
  width: 30%;
  display: flex;
  align-items: center;
}

.informationContent {
  width: 70%;
  word-break: break-all;
  font-family: 'mabry-bold' !important;
}

.URLContent {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: italic;
}

.informationTitleIcon {
  width: 1.4rem !important;
  height: 1.4rem !important;
}

.informationTitleText {
  margin-left: 1rem !important;
  color: #515151;
}

.statusIcon {
  margin-right: 0.2rem;
}

.schedulerClustersIDContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  color: var(--save-size-color);
  border-radius: 0.4rem;
  width: 1.6rem;
  height: 1.6rem;
  margin-right: 0.5rem;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 40rem;
}

.errorLog {
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: normal;
  overflow: hidden;
}
