.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.ipContainer {
  display: flex;
  align-items: center;
}

.ipIcon {
  width: 1.4rem;
  height: 1.4rem;
  margin-right: 0.6rem;
}

.text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

.hostnameTitle {
  color: var(--table-title-text-color);
}

.filterInput {
  display: flex;
  align-items: center;
}

.textField {
  width: 70%;
}

.filterInput:nth-child(1) {
  width: 100%;
}

.filterInput:nth-child(2) {
  width: 100%;
}

.filterInput:nth-child(3) {
  width: 100%;
}

.optionalContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.circularProgress {
  margin-right: 0.4rem;
}

.schedulerClusterIcon {
  width: 0.6rem;
  height: 0.6rem;
}

.noSearch {
  width: 4rem;
  height: 4rem;
  margin-bottom: 3rem;
}

.noTask {
  width: 30rem;
  height: 30rem;
}

.deleteIcon {
  width: 1.8rem;
  height: 1.8rem;
  margin-right: 0.4rem;
}

.deleteWarningIcon {
  width: 1.4rem;
  height: 1.4rem;
  padding-right: 0.2rem;
}
