#root {
  height: 100%;
  overflow: hidden;
}

.ant-layout {
  height: 100%;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 20px;
  color: #fff;
  font-size: 14px;
}

.left-info {
  display: flex;
  align-items: center;
  margin-left: -4px;
}

.logo {
  float: left;
  width: 90px;
  height: 22px;
  background: url('./public/logo-white.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.site-layout-background {
  background: #fff;
}

.ant-table-container {
  min-height: 300px;
}

.ant-spin-blur {
  height: 100%;
}

.ant-spin-nested-loading > div > .ant-spin {
  max-height: 1000px;
}

.ant-spin-container {
  height: 100%;
}

.ant-steps-item-title {
  color: #fff !important;
}

.ant-steps-item-description {
  color: #fff !important;
}

.custom-form {
  color: #fff;
  padding: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-form-item {
  align-items: center;
  box-sizing: border-box;
  margin: 0 0 24px;
  padding: 0;
  font-size: 14px;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
  vertical-align: top;
  transition: margin-bottom .3s 17ms linear;
}

.custom-form-item-label {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  vertical-align: middle;
  flex: 0 0 20%;
}

.custom-form-item-control {
  flex: 1 1 0;
  min-width: 0;
}

/* TODO */
.custom-form-item-required ::before {
  display: inline-block;
  margin-right: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
}