#root {
  height: 100%;
}
.ant-layout {
  /* height: 100%; */
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;
  padding: 0 20px;
  color: #fff;
  font-size: 12px;
}

.logo {
  float: left;
  width: 80px;
  height: 32px;
  margin-top: 8px;
  background: url('./public/logo.png');
  background-repeat: no-repeat;
}

.site-layout-background {
  background: #fff;
}

.ant-table-container {
  min-height: 300px
}

