@font-face {
  font-family: 'mabry-light';
  src: url('../public/fonts/MabryPro-Light.ttf') format('woff');
}

@font-face {
  font-family: 'mabry-bold';
  src: url('../public/fonts/MabryPro-Bold.ttf') format('woff');
}

:root {
  color: #1c293a;
  --button-color: #1c293a;
  --button-text-color: #ffffff;
  --palette-secondary-dark: #1c293a;
  --hover-button-text-color: #1d3048;
  --description-color: #2e8f79;
  --save-color: #1c293a;
  --save-hover-corlor: #555555;
  --calcel-color: #979797;
  --calcel-hover-corlor: #f4f3f6;
  --button-loading-color: #dedede;
  --button-loading-size-color: #000000;
  --scopes-icon-color: #edeff2;
  --table-title-color: #f4f6f8;
  --title-light-color: #7a7a7a;
  --menu-background-color: rgba(0, 167, 111, 0.1);
  --menu-selected-background-color: #ffffff;
  --hover-menu-background-color: rgba(0, 167, 111, 0.2);
  --menu-color: #00a76f;
  --table-title-text-color: #637381;
  --palette-common-white: #ffffff;
  --palette-background-paper: #ffffff;
  --no-data-color: 145 158 171;
  --palette-text-disabled: #919eab;
  --text-palette-text-secondary: #637381;
  --palette-divider: rgba(145 158 171 / 0.4);
  --palette-background-neutral: #f4f6f8;
  --palette-background-inactive: rgb(145 158 171 / 0.16);
  --palette-card-hover-background-color: #f4f6f8;
  --palette-detail-lable-color: #515151;
  --palette-action-hover: rgba(145 158 171 / 0.08);
  --delete-button-color: #d42536;
  --delete-button-hover-color: #d42537b8;
  --header-background-color: 249 250 251;
  --card-box-shadow: rgba(145, 158, 171, 0.3) 0px 0px 2px 0px, rgba(145, 158, 171, 0.2) 0px 2px 24px -4px;
  --table-color: #919eab;
  --palette-background-menu: rgba(255, 255, 255, 0.9);
  --palette-menu-shadow: 0 0.075rem 0.2rem -0.0625rem #32325d40, 0 0.0625rem 0.0145rem -0.0625rem #0000004d;
  --palette-text-secondary: #000000;
  --palette-background-rotation: #f6f7f9;
  --palette-background: #f4f6f8;
  --menu-border-radius: 0.6rem;
  --palette-tab-border-color: #e8e8e8;
  --palette-text-secondary: rgba(0, 0, 0, 0.54);
}

[data-theme='dark'] body {
  color: rgba(255, 255, 255, 0.7) !important;
  background-color: #141a21 !important;
  --palette-background: #141a21;
  --palette-secondary-dark: #ececec;
  --description-color: #00a76f;
  --palette-background-paper: #1c252e;
  --palette-text-secondary: #919eab;
  --button-color: #00a76f;
  --button-text-color: #ffffff;
  --hover-button-text-color: #08c385;
  --palette-card-hover-background-color: #1b2e3e;
  --card-box-shadow: none;
  --table-title-color: #28323d;
  --table-title-text-color: #919eab;
  --menu-selected-background-color: rgba(145 158 171 / 0.08);
  --calcel-hover-corlor: #a1a0a2;
  --palette-background-menu: rgba(28, 37, 46, 0.9);
  --palette-detail-lable-color: #a1a0a2;
  --palette-menu-shadow: none;
  --palette-background-rotation: #1c252e;
  --palette-tab-border-color: #343536;
}

body {
  margin: 0;
  font-family: 'mabry-light' !important;
}

h2 {
  font-family: 'mabry-bold' !important;
}

h3 {
  font-family: 'mabry-bold' !important;
}

h4 {
  font-family: 'mabry-bold' !important;
}

h5 {
  font-family: 'mabry-bold' !important;
}
