.noData {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem 0;
}

.nodataIcon {
  max-width: 10rem;
  height: 10rem;
}

.nodataText {
  color: var(--palette-text-disabled);
  font-family: 'mabry-bold';
}

.statusIcon {
  width: 1.3rem;
  height: 1.3rem;
}

.detailIcon {
  width: 2rem;
  height: 2rem;
  color: var(--button-color);
}
