.textField {
  width: 18rem;
  margin: 0.8rem 0 !important;
}

.filterInput {
  width: 37rem !important;
  margin: 0.8rem 0 !important;
}

.urlInput {
  width: 37rem !important;
}

.selectInput {
  width: 25rem;
  margin: 0.8rem 0 !important;
}

.pieceLengthInput {
  width: 11rem;
  margin: 0.8rem 1rem 0.8rem 0 !important;
}

.headersKeyInput {
  width: 12rem;
  margin-right: 1rem !important;
}

.headersValueInput {
  width: 20rem;
}

.title {
  margin-bottom: 0.5rem;
}

.informationTitleIcon {
  width: 1.4rem !important;
  height: 1.4rem !important;
}

.argsWrapper:nth-child(n + 3) {
  width: 100%;
}

.argsWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(1.5rem);
  padding: 1.5rem;
}

.headersWrapper {
  padding: 1rem;
  width: 37rem;
  margin-top: 1rem;
  border-radius: 0.25rem !important;
  background-color: var(--palette-background-paper) !important;
}
