.container {
  padding: 1rem 2rem;
}

.statusIcon {
  width: 1.3rem !important;
  height: 1.3rem !important;
  margin-right: 0.4rem;
}

.informationContainer {
  display: flex;
  align-items: flex-start;
  padding: 1rem 0rem;
}

.informationTitle {
  width: 30%;
  display: flex;
  align-items: center;
}

.informationTitleIcon {
  width: 1.4rem !important;
  height: 1.4rem !important;
}

.informationTitleText {
  margin-left: 1rem !important;
  color: #515151;
  font-family: 'mabry-bold' !important;
}

.informationContent {
  width: 70%;
  word-break: break-all;
  font-family: 'mabry-bold' !important;
}

.statusContent {
  display: inline-flex;
  align-items: center;
}

.headersContent {
  width: 70%;
  overflow-wrap: break-word;
  padding-bottom: 1rem;
  display: inline;
}

.headersText {
  display: flex;
  padding: 1rem 1rem 0 1rem;
  max-height: 10rem;
}

.headerKey {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.headerValue {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-overflow: ellipsis;
}

.schedulerClustersID {
  width: 70%;
  display: flex;
  align-items: center;
}

.schedulerClustersIDContent {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-color);
  color: var(--save-size-color);
  border-radius: 0.3rem;
  min-width: 1.6rem;
  margin-right: 0.5rem;
  padding: 0.2rem 0.4rem;
}

.urlContent {
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-style: italic;
}
