@font-face {
  font-family: 'MabryPro-Light';
  src: url('../public/fonts/MabryPro-Light.ttf') format('woff');
}
@font-face {
  font-family: 'MabryPro-Bold';
  src: url('../public/fonts/MabryPro-Bold.ttf') format('woff');
}

body {
  font-family: 'MabryPro-Light', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.5;
  font-family: 'MabryPro-Light', sans-serif;
}
.main {
  margin: 0;
  padding: 0;
  font-family: 'MabryPro-Light', sans-serif;
}
