name: CI

on:
  push:
    branches: [main, release-*]
  pull_request:
    branches: [main, release-*]

jobs:
  build:
    name: Build
    timeout-minutes: 10
    runs-on: ubuntu-latest
    needs: [test]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version: '18.x'
      - run: yarn

      - name: Cache nextjs build
        uses: actions/cache@v5
        with:
          path: .next/cache
          key: nextjs-${{ hashFiles('package*.json') }}

      - name: Build
        run: yarn build
