name: E2E Test

on: push

jobs:
  cypress-run:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        containers: [1, 2, 3]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version: '18.x'

      - name: Install dependencies
        run: yarn install --force

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          build: yarn build
          start: yarn start
          wait-on: 'http://localhost:3000'
          wait-on-timeout: 120
        env:
          CI: true
          SPLIT: 3
          SPLIT_INDEX: ${{ matrix.containers - 1 }}
          DEBUG: 'cypress-split,find-cypress-specs'
          
      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
