name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    name: Publish binaries
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set node version
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Install
        run: yarn install

      - name: Build
        if: success()
        run: yarn build

      - name: Zip
        run: zip -r dist.zip dist

      - name: Get Version
        id: get_version
        run: |
          VERSION=${GITHUB_REF#refs/tags/}
          if [[ ${GITHUB_REF} == "refs/heads/main" ]]; then
            VERSION=latest
          fi
          echo ::set-output name=VERSION::${VERSION}

      - name: Upload binaries to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          release_name: ${{ steps.get_version.outputs.VERSION }}
          file: dist.zip
          overwrite: true
          file_glob: true
          tag: ${{ github.ref }}
